#row-navbar {
	margin-bottom: 0px;
}

#row-map {
	background-color: #2D3640;
}


.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;*/
}

.listTree {
    font-size: 12px;
    margin-bottom: 0;
}

.listTree > ul > li {
    background-color: #2D3640;
    color: #B6BABF;
    border-width: 0px;
}

.listTree > ul > li:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-width: 0px;
}

.listTree > ul > li:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 0px;
}

.listTree > ul > li:last-child > ul > li:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 0px;
}

.listTree span {
    display: inline-block;
    width: 100%;
    padding: 6px;
    padding-left: 15px;
}

.listTree > ul > li > ul > li {
    background-color: #2D3640;
    color: #B6BABF;
    border-width: 0px;
}

.listTree > ul > li:hover {
    background-color: #242A32;
    color: #FFFFFF;
    border-width: 0px;
}

.listTree > ul > li > ul > li:hover {
    background-color: #242A32;
    color: #FFFFFF;
    border-width: 0px;
}

.listTree > ul > li > ul > li:first-child {
    border-width: 0px;
}

.listTree > ul > li > ul > li:last-child {
    border-width: 0px;
}

.map-canvas,
.map-canvas * { .box-sizing(content-box); }

.map-canvas {

}

body {
	overflow-x: hidden;
}
